@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-gray-950;
	@apply text-black dark:text-white;
}

button:active {
	opacity: 0.8;
	user-select: none;
}

* {
	--tw-ring-color: rgb(0 0 0 / 0) !important;
}
